.topbar {
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 1.2rem;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  margin-top: 5%;
}

/* Slides */
/* .mySlides {
  display: none;
  padding: 80px;
  text-align: center;
} */

/* Next & previous buttons */

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
textarea {
  width: 400px;
  height: 100px;
  background-color: white;
  margin-top: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.question {
  padding-top: 4%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}
/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-bottom: 2%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  font-size: 2rem;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
